
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery可关闭图片层叠轮播代码 - 站长素材</title>
    <link href="~/Content/css/Cooldog.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
</head>
<body>
    <div class="Cooldog_container">
        <div class="Cooldog_content">
            <ul>
                @foreach (var item in ViewBag.Picture)
                {
                    <li class="p@(item.RowId)">
                        <a href="#">
                            <img alt="" src="@item.Picture">
                        </a>
                    </li>
                }
            </ul>
        </div>
        <a class="btn_left" style="display: none;" href="javascript:;">
            <i class="iconfont icon-zuoyoujiantou"></i>
        </a>
        <a class="btn_right" style="display: none;" href="javascript:;">
            <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
        </a>
        <a class="btn_close" style="display: none;" href="javascript:;">
            <i class="iconfont icon-icon-test"></i>
        </a>
        <div class="buttons clearfix">
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a class="color" href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
        </div>
    </div>
    <DIV class="wp" id="wp">
        <STYLE id="diy_style" type="text/css"></STYLE>
        <DIV class="wp cl" id="ct">
            <DIV class="mn">
                <DIV class="bm">
                    <DIV class="bm_h cl">
                        <H2>社区论坛热点</H2>
                    </DIV>
                    <DIV class="bm_c cl">
                        <DIV class="heat z">
                            <DL class="xld">
                                <DT>
                                    <A class="xi2" href="" target="_blank">
                                        标题
                                    </A>
                                </DT>
                                <DD>
                                    多余109个字后面显示...
                                </DD>
                            </DL>
                        </DIV>
                        <UL class="xl xl1 heatl"></UL>
                    </DIV>
                </DIV>
                <DIV class="fl bm">
                    @foreach (var game in ViewBag.GameType)
                    {
                        <DIV class="bm bmw  flg cl">
                            <DIV class="bm_h cl">
                                <SPAN class="o">
                                    <IMG title="收起/展开" id="category_1_img"
                                         onclick="toggle_collapse('category_1');" alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                                </SPAN>
                                <SPAN class="y">
                                    分区版主:
                                    @foreach (var pla in ViewBag.Plate)
                                    {
                                        if (pla.GId == game.GId)
                                        {
                                            foreach (var use in ViewBag.User)
                                            {
                                                if (pla.UId == use.UId)
                                                {
                                                    <A class="notabs" href="@pla.Url"
                                                       c="1">@(use.NickName)丨</A>
                                                }
                                            }
                                        }
                                    }
                                </SPAN>
                                <H2>
                                    <A style="color: rgb(0, 102, 0);"
                                       href="@game.Url">@game.GName</A>
                                </H2>
                            </DIV>
                            <DIV class="bm_c" id="category_1">
                                <TABLE class="fl_tb" cellspacing="0" cellpadding="0">
                                    <TBODY>
                                        @for (int i = 1; i <= ViewBag.count; i++)
                                        {
                                            <TR class="fl_row">
                                                @foreach (var item in ViewBag.Plate)
                                                {
                                                    if (item.GId == game.GId)
                                                    {
                                                        if (item.RowId == i || item.RowId == i + 1)
                                                        {
                                                            <TD width="49.9%" class="fl_g">
                                                                <DIV class="fl_icn_g" style="width: 50px;">
                                                                    <A href="/Posts/ShowPost/?PlateId=@item.PId">
                                                                        <IMG align="left" alt="" style="width:50px;height:50px" src="@item.PImage">
                                                                    </A>
                                                                </DIV>
                                                                <DL style="margin-left: 50px;">
                                                                    <DT><A href="/Posts/ShowPost/?PlateId=@item.PId">@item.PName</A></DT>
                                                                    <DD><EM>帖数: @item.FLag</EM></DD>
                                                                </DL>
                                                            </TD>
                                                        }
                                                    }
                                                }
                                            </TR>
                                        }
                                    </TBODY>
                                </TABLE>
                            </DIV>
                        </DIV>
                    }
                </DIV>
                <DIV class="wp mtn">
                    <!--[diy=diy3]-->
                    <DIV class="area" id="diy3"></DIV><!--[/diy]-->
                </DIV>
                <DIV class="bm oll" id="online">
                    <DIV class="bm_h">
                        <SPAN class="o">
                            <A title="收起/展开" href="http://www.tdnd.cn/forum.php?showoldetails=no#online">
                                <IMG alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                            </A>
                        </SPAN>
                        <H3>
                            <STRONG><A href="http://www.tdnd.cn/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">在线会员</A></STRONG>
                            <SPAN class="xs1">
                                - <STRONG>55</STRONG> 人在线 - <STRONG>1</STRONG>
                                会员(<STRONG>0</STRONG> 隐身), <STRONG>54</STRONG> 位游客 - 最高记录是 <STRONG>2969</STRONG>
                                于 <STRONG>2017-9-20</STRONG>.
                            </SPAN>
                        </H3>
                    </DIV>
                </DIV>

            </DIV>
        </DIV>
        <SCRIPT>fixed_top_nv();</SCRIPT>
    </DIV>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/Cooldog.js"></script>
</body>
</html>
