
@{
    Layout = null;
}
@model ModelInfo.UserInfo
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/layui/css/admin.css" rel="stylesheet" />
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15="">
                    <form action="/HomePage/PersonalInformation" enctype="multipart/form-data" method="post">

                        <div class="layui-form" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-input-inline">
                                    <img src="@Model.HeadPic" style="width: 60px;height:60px;margin-right: 10px;border-radius: 50%;" />
                                    <input type="file" name="Path" value="" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input name="NickName" class="layui-input" type="text" placeholder="请输入昵称" value="@Model.NickName" autocomplete="off" lay-verify="nickname">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <input name="Sex" title="男" type="radio" value="男">
                                    <div class="layui-unselect layui-form-radio">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>男</div>
                                    </div>
                                    <input name="Sex" title="女" type="radio" checked value="女">
                                    <div class="layui-unselect layui-form-radio  layui-form-radioed">
                                        <i class="layui-anim layui-icon"></i>
                                        <div>女</div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">年龄</label>
                                <div class="layui-input-inline" style="padding-top:7px">
                                    <span style="margin-left:2px;">19</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">积分</label>
                                <div class="layui-input-inline" style="padding-top:7px">
                                    <span style="margin-left:2px;">@Model.Integral</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">等级</label>
                                <div class="layui-input-inline" style="padding-top:7px">
                                    <span style="margin-left:2px;">@Model.Grade</span>
                                    <input type="button"  class="layui-btn" onclick="location.href='/HomePage/UpGrade/?Integral=@(Model.Integral)&Grade=@(Model.Grade)'" value="我要升级!!!!" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机</label>
                                <div class="layui-input-inline">
                                    <input name="cellphone" class="layui-input" type="text" disabled value="17552756477" autocomplete="off" lay-verify="phone">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">住址</label>
                                <div class="layui-input-inline">
                                    <select name="Province" lay-verify="">
                                        <option selected="@(Model.Province=="北京"?true:false)" value="北京">北京</option>
                                        <option selected="@(Model.Province=="天津"?true:false)" value="天津">天津</option>
                                        <option selected="@(Model.Province=="河北"?true:false)" value="河北">河北</option>
                                        <option selected="@(Model.Province=="山西"?true:false)" value="山西">山西</option>
                                        <option selected="@(Model.Province=="内蒙古"?true:false)" value="内蒙古">内蒙古</option>
                                        <option selected="@(Model.Province=="辽宁"?true:false)" value="辽宁">辽宁</option>
                                        <option selected="@(Model.Province=="吉林"?true:false)" value="吉林">吉林</option>
                                        <option selected="@(Model.Province=="黑龙江"?true:false)" value="黑龙江">黑龙江</option>
                                        <option selected="@(Model.Province=="上海"?true:false)" value="上海">上海</option>
                                        <option selected="@(Model.Province=="江苏"?true:false)" value="江苏">江苏</option>
                                        <option selected="@(Model.Province=="浙江省"?true:false)" value="浙江省">浙江省</option>
                                        <option selected="@(Model.Province=="安徽"?true:false)" value="安徽">安徽</option>
                                        <option selected="@(Model.Province=="福建"?true:false)" value="福建">福建</option>
                                        <option selected="@(Model.Province=="江西"?true:false)" value="江西">江西</option>
                                        <option selected="@(Model.Province=="山东"?true:false)" value="山东">山东</option>
                                        <option selected="@(Model.Province=="河南"?true:false)" value="河南">河南</option>
                                        <option selected="@(Model.Province=="湖北"?true:false)" value="湖北">湖北</option>
                                        <option selected="@(Model.Province=="湖南"?true:false)" value="湖南">湖南</option>
                                        <option selected="@(Model.Province=="广东"?true:false)" value="广东">广东</option>
                                        <option selected="@(Model.Province=="广西"?true:false)" value="广西">广西</option>
                                        <option selected="@(Model.Province=="海南"?true:false)" value="海南">海南</option>
                                        <option selected="@(Model.Province=="重庆"?true:false)" value="重庆">重庆</option>
                                        <option selected="@(Model.Province=="四川"?true:false)" value="四川">四川</option>
                                        <option selected="@(Model.Province=="贵州"?true:false)" value="贵州">贵州</option>
                                        <option selected="@(Model.Province=="云南"?true:false)" value="云南">云南</option>
                                        <option selected="@(Model.Province=="西藏"?true:false)" value="西藏">西藏</option>
                                        <option selected="@(Model.Province=="陕西"?true:false)" value="陕西">陕西</option>
                                        <option selected="@(Model.Province=="甘肃省"?true:false)" value="甘肃省">甘肃省</option>
                                        <option selected="@(Model.Province=="青海"?true:false)" value="青海">青海</option>
                                        <option selected="@(Model.Province=="宁夏"?true:false)" value="宁夏">宁夏</option>
                                        <option selected="@(Model.Province=="新疆"?true:false)" value="新疆">新疆</option>
                                        <option selected="@(Model.Province=="台湾"?true:false)" value="台湾">台湾</option>
                                        <option selected="@(Model.Province=="香港特别行政区"?true:false)" value="香港特别行政区">香港特别行政区</option>
                                        <option selected="@(Model.Province=="澳门"?true:false)" value="澳门">澳门</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="hidden" name="HeadPic" value="@Model.HeadPic" />
                                    <button class="layui-btn">修改</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    $(function () {
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    })
</script>
































































