@model List<ModelInfo.ViewModel>
@{
    Layout = null;
}
<link href="/Content/bootstrap.css" rel="stylesheet" />
<input type="button" onclick="location.href='/Admin/Index'" class="btn btn-info" value="返回" />
<table class="table table-bordered">
    <thead>
        <tr style="background-color:aqua">
            <td>ID</td>
            <td>用户昵称</td>
            <td>评论内容</td>
            <td>评论时间</td>
            <td>帖子ID</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CId</td>
                <td>@item.NickName</td>
                <td>@item.Content</td>
                <td>@item.CreateDate</td>
                <td>@item.PId</td>
                <td>@Html.ActionLink("删除", "CommDelete", new { @CId=item.CId})</td>
            </tr>
        }
    </tbody>
</table>