@model List<ModelInfo.ViewModel>

@{
    Layout = null;
}
<script src="/Scripts/jquery-3.3.1.min.js"></script>
<script src="/Scripts/jquery-3.3.1.js"></script>
<link href="/Content/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <thead>
        <tr style="background-color:aqua">
            <td>ID</td>
            <td>标题</td>
            <td>内容</td>
            <td>创建时间</td>
            <td>创建人</td>
            <td>状态</td>
            <td>浏览量</td>
            <td>操作</td>
            <td>板块名称</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.PId</td>
            <td>@item.PTitle</td>
            <td>@item.PContent</td>
            <td>@item.CreateDate</td>
            <td>@item.CreateUser</td>
            <td>@item.PState</td>
            @if (item.PState == "0")
            {
                <td>待审核</td>
            }
            else if (item.PState == "1")
            {
                <td>通过</td>
            }
            else
            {
                <td>不通过</td>
            }
            <td>@item.PageView</td>
            <td>@item.PName</td>
            <td>
                @if (item.PState == "0")
                {
                    @Html.ActionLink("通过", "U1", new { PId = item.PId, PState = 1 })
                    @Html.ActionLink("不通过", "U1", new { PId = item.PId, PState = 2 })
                }
            </td>
        </tr>
        }
    </tbody>
</table>