
@{
    Layout = null;
}

@using ModelInfo
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@model List<PlateInfo>
<input type="button" class="btn btn-info" value="添加" onclick="location.href='/Admin/PlateAdd'" />
<input type="button" class="btn btn-info" onclick="location.href='/Admin/Index'" value="返回" />
<table class="table table-bordered">
    <tr>
        <td>帖子编号</td>
        <td>板块名称</td>
        <td>游戏分类</td>
        <td>状态</td>
        <td>版主</td>
        <td>操作</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PId</td>
            <td>@item.PName</td>
            <td>@item.GId</td>
            <td>@(item.PState == 1 ? "启用" : "禁用") </td>
            <td>@item.UId</td>
            <td>
                @Html.ActionLink("删除", "PlateDelete", new { @GId = item.PId }, new { @onclick = "return confirm ('确认删除?')" })
                @Html.ActionLink("修改", "PlateUpt", new { @cid = item.PId })
            </td>
        </tr>

    }
</table>
