@model IEnumerable<ModelInfo.UserInfo>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<input type="button" onclick="location.href='/Admin/Index'" class="btn btn-info" value="返回" />
<table class="table table-bordered">
    <thead>
        <tr style="background-color:aqua">
            <td>用户编号</td>
            <td>用户名</td>
            <td>昵称</td>
            <td>头像</td>
            <td>性别</td>
            <td>生日</td>
            <td>积分</td>
            <td>等级</td>
            <td>省份</td>
            <td>手机号</td>
            <td>状态</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UId</td>
                <td>@item.UName</td>
                <td>@item.NickName</td>
                @*<td><img src="@item.HeadPic" alt="Alternate Text" /></td>*@
                <td>@item.HeadPic</td>
                <td>@item.Sex</td>
                <td>@item.Birthday</td>
                <td>@item.Integral</td>
                <td>@item.Grade</td>
                <td>@item.Province</td>
                <td>@item.Phone</td>
                <td><button onclick="State(@item.UId,@item.UState)">@(item.UState == 1 ? "启用" : "禁用")</button></td>
            </tr>
        }
    </tbody>
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    function State(uid, Ustate) {
        var oj = { "UId": uid, "UState": Ustate }
        var a = 0
        if (Ustate == 1) {
            a = 0;
        }
        else {
            a = 1;
        }
        $.post('/admin/T1', { "UId": uid, "UState": a }, function (data) {
            if (data > 0) {
                alert('修改成功')
                location.href ='/Admin/UserShow'
            }
        })
    }

</script>